body {
  background-color: #eaeaea;
  text-align:center;
  margin: 20px;
  padding: 0;
  vertical-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.square {
  background-color: #f1f1f3;
  height: 90px;
  width: 90px;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  margin: 4px;
  border: 4px solid black;
  border-radius: 5px;
}

.word {
  letter-spacing: 5px;
  font-size: 80px;
  font-family: 'Montserrat', sans-serif;
}

.victorystatement {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
}

.image {
  padding: 0px;
  height: 300px;
  width: 300px;
}
.exists {
  background-color: #71e789;
  height: 90px;
  width: 90px;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  margin: 4px;
  border: 4px solid black;
  border-radius: 5px;
}
.notExisting {
  background-color: #f08575;
  height: 90px;
  width: 90px;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  margin: 4px;
  border: 4px solid black;
  border-radius: 5px;
}

.parent {
  margin:auto;
  width: 100%;
  vertical-align: center;
  justify-content: center;
}

.movestatement {
  font-size : 25px;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  margin-bottom: 0px;
  font-size : 50px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px;
}

p {
 font-size : 15px;
 font-family: 'Montserrat', sans-serif;
 position:absolute;
    bottom:1;
    right:0.5;
    left: 0.5;
  margin-bottom: 10px
}

.retry {
  background-color: #eaeaea;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  border:none;
  margin: 30px
}